[submodule "jni/external/nmslib"]
	path = jni/external/nmslib
	url = git@github.com:nmslib/nmslib.git
[submodule "jni/external/faiss"]
	path = jni/external/faiss
	url = git@github.com:facebookresearch/faiss.git
